.column {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 0;
  min-height: 500px;
  gap: var(--space-md);
  padding: var(--space-md);

  background: var(--color-bg-page);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-md);
}

.column h3 {
  margin: 0;
  text-align: center;
}